<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>6盘</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/element-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
     <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
     
</head>
<body>
<div id="app">
 <header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-dark bg-dark ">
     <form class="form-inline col-12">
         <div class="input-group col-12">
             <input type="text" class="form-control col-4" v-model="username" placeholder="用户名" aria-label="用户名">
             <input type="password" class="form-control col-4" v-model="password" placeholder="密码" aria-label="密码">
              <button class="btn btn-outline-success col-3" type="button" @click="login">登陆</button>
             </div>
     </form>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </nav>
</header>

 <div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block collapse">
      <div class="">
        <ul class="nav flex-column">
          <li v-for="user in allusers" class="nav-item">
            <a class="nav-link" v-bind:class="{ active: user['username']==currentUser['username']}" @click="changeUser(user)">
              <span data-feather="users"></span>
              ${user['username']}
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">文件列表</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
              <button type="button" class="btn btn-sm btn-outline-secondary" @click="search">搜索</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" @click="getAllFiles">所有文件</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" @click="checkOffline">离线下载</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" @click="relogin">重新登陆</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" @click="delUser">删除当前用户</button>
              <!-- <button type="button" class="btn btn-sm btn-outline-secondary" @click="getAllVideos">所有视频</button> -->
          </div>
        </div>
      </div>
      <div class="table-responsive">
           <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" v-for="fpath in paths">
          <a class="btn btn-sm" v-if="fpath['path'].length==path.length">${fpath['label']}</a>
          <a class="btn btn-sm btn-outline-secondary" v-else @click="getFilesPath(fpath['path'])">${fpath['label']}</a>
      </li>
    </ul>
  </div>
</nav>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>名称</th>
              <th>大小</th>
              <th>修改日期</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>

            <tr v-for="file in files">
                <td></td>
                <td>
                  <div v-show="file['type']==10">
                    <a class="text-primary" title="子目录" @click="getFilesPath(file['path'])"><span data-feather="folder"></span>${file['name']}</a>
                  </div>
                  <div v-show="file['type']!=10">
                    <span data-feather="file" ></span>${file['name']}
                  </div>
                </td>
                <td>${file['size']|bytesToSize}</td>
                <td>${file['ctime']|formatDate}</td>
                  <td><a class="text-primary" v-if="file['type']==30" title="播放" @click="play(file)"><i data-feather="play"></i></a>
                </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">
              <el-pagination v-if="totalPage>1" :page-size='pagesize' background  layout="prev, pager, next,jumper" :current-page="currentPage"  :total="totalNum" @current-change="LoadMore" > </el-pagination>
            </td>
            </tr>
          </tfoot>
        </table>

      </div>
    </main>
  </div>
</div>



</div>
</body>
  <script type="application/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/vue.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='layer/layer.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/vue-clipboard.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/element-ui.js')}}"></script>
<script type="application/javascript">

    var app = new Vue({
      delimiters: ['${', '}'],
      el: '#app',
      data: {
          files:[],
          pagesize:20,
          paths:[],
          allusers:[],
          currentUser:{},
          pageNo: 1,
          path:'/',
          username:'',
          password:'',
          action:'file',
          keyword:'',
          identity:'',
          playUrl:'',
          totalPage:1,
          totalNum:1,
          currentPage:1,
      },
      mounted: function () {
          this.$nextTick(function () {
            this.getUsers();
          })
        },
        updated:function(){
          feather.replace();
        },
        watch:{
          path: function (val) {
              this.createPath(val)
          }
        },
    filters: {
        bytesToSize:function(bytes) {
           if (bytes === 0) return '0 B';
            var k = 1024;
            sizes = ['B','KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
            i = Math.floor(Math.log(bytes) / Math.log(k));
            return (bytes / Math.pow(k, i)).toFixed(2) + ' ' + sizes[i];
        },
        formatDate:function (date) {
            var d = new Date(date);
            var year = d.getFullYear();
            var month = d.getMonth() + 1;
            var day = d.getDate() <10 ? '0' + d.getDate() : '' + d.getDate();
            var hour = d.getHours();
            var minutes = d.getMinutes();
            var seconds = d.getSeconds();
            return year+ '-' + month + '-' + day + ' ' + hour + ':' + minutes + ':' + seconds;
        }},
      methods: {
          login: function () {
            layer.load(1);
            var that = this;
            let data = {"username":this.username,"password":this.password};
              axios.post('/login',data)
                  .then(function (response) {
                      layer.closeAll('loading');
                     //console.log(response);
                      if(response.data=='error'){
                          layer.msg("请求出错，稍后重试或重新登陆");
                          return false;
                      }
                       that.getUsers();
                  })
                  .catch(function (error) { // 请求失败处理
                    console.log(error);
                  });
        },
          relogin: function () {
            layer.load(1);
            var that = this;
            let data = {"username":this.currentUser['username']};
              axios.post('/relogin',data)
                  .then(function (response) {
                      layer.closeAll('loading');
                      if(response.data=='error'){
                          layer.msg("请求出错，稍后重试或重新登陆");
                          return false;
                      }
                      that.getUsers();
                  })
                  .catch(function (error) { // 请求失败处理
                    console.log(error);
                  });
        },
          getUsers: function () {
              var that=this;
            layer.load(1);
            axios.get('/getUsers')
              .then(function (response) {
                  layer.closeAll('loading');
                   if(response.data=='error'){
                          layer.msg("请求出错，稍后重试或重新登陆");
                          return false;
                      }
                  that.allusers = response.data;
                  if(that.allusers.length>0){
                      that.currentUser = that.allusers[0];
                      that.getFiles();
                  }

              })
              .catch(function (error) { // 请求失败处理
                console.log(error);
              });
        },
          delUser:function () {
             layer.load(1);
            var that = this;
            let data = {"username":this.currentUser['username']};
              axios.post('/delUser',data)
                  .then(function (response) {
                      layer.closeAll('loading');
                       if(response.data=='error'){
                          layer.msg("请求出错，稍后重试或重新登陆");
                          return false;
                      }
                     //console.log(response);
                      that.getUsers();
                  })
                  .catch(function (error) { // 请求失败处理
                    console.log(error);
                  });
          },
          changeUser:function(user){
              this.currentUser=user;
              this.getFiles();
          },
          getFiles:function () {
              layer.load(1);
              var that = this;
              that.files=[];
              that.pageNo=1;
              that.totalPage=1;
              that.totalNum=0;
              that.path='/';
              var data = that.currentUser;
              data['pageno']=that.pageNo;
              data['path']=that.path;
              data['keyword']=that.keyword;
              var url = '';
              if(that.action=='video'){
                   url='/getVideos';
              }else if(that.action=='search'){
                  url = '/searchFiles';
              }else{
                  url = '/getFiles';
              }
            axios.post(url,data)
                  .then(function (response) {
                      layer.closeAll('loading');
                       if(response.data=='error'){
                          layer.msg("请求出错，稍后重试或重新登陆");
                          return false;
                      }
                      //that.files=response.data;
                      that.totalNum = response.data['parent']['children'];
                      that.totalPage = Math.ceil(response.data['parent']['children']/20);　
                      that.files = response.data['dataList'];
                      //console.log(that.files)
                  })
                  .catch(function (error) { // 请求失败处理
                    console.log(error);
                  });
          },
          LoadMore:function (val) {
              var that = this;
              if(that.files.length<20&&that.pageNo==1){
                  layer.alert('没有更多数据了');
                  return false;
              }
              layer.load(1);
              that.pageNo=val;
              that.currentPage = that.pageNo;
              var data = that.currentUser;
              data['pageno']=that.pageNo;
              data['path']=that.path;
              data['keyword']=that.keyword;
              var url='';
              if(that.action=='video'){
                   url='/getVideos';
              }else if(that.action=='search'){
                    url = '/searchFiles';
              }else {
                  url = '/getFiles';
              }
            axios.post(url,data)
                  .then(function (response) {
                      layer.closeAll('loading');
                       if(response.data=='error'){
                          layer.msg("请求出错，稍后重试或重新登陆");
                          return false;
                      }
                      
                      that.files = [];
                      that.totalPage = Math.ceil(response.data['parent']['children']/20);　
                      that.totalNum = response.data['parent']['children'];
                      response.data['dataList'].forEach(fsearch => {
                         that.files.push(fsearch);
                        })

                      //that.files = response.data['dataList'];
                      console.log(that.files)
                  })
                  .catch(function (error) { // 请求失败处理
                    console.log(error);
                  });
          },
          search:function(){
              var that = this ;
              that.action='search';
              that.pageNo=1;
              layer.prompt(function(val, index){
                  that.keyword = val;
                  that.getFiles();
                  layer.close(index);
                });
          },

          checkOffline:function(){
              var that = this ;
              that.action='checkOffline';
              var data = that.currentUser;
              var url ="/checkOffline";
                axios.post(url,data)
                  .then(function (response) {
                      layer.closeAll('loading');
                       if(response.data=='error'){
                          layer.msg("请求出错，稍后重试或重新登陆");
                          return false;
                      }
                      if(response.data['available']>0){
                          that.offline(response.data['available']);
                      }
                  })
                  .catch(function (error) { // 请求失败处理
                    console.log(error);
                  });
          },



          offline:function(i){
              var that = this ;
              that.action='offline';
              layer.prompt({title: '离线下载到根目录，只支持磁力还能下载'+i+'次', formType: 2}, function(text, index){
                layer.close(index);
                layer.load(1);
                var data = that.currentUser;
                data['textLink']=text;
                var url ="/offline";
                axios.post(url,data)
                  .then(function (response) {
                      layer.closeAll('loading');
                      console.log(response);
                       if(response.data=='error'){
                          layer.msg("请求出错，稍后重试或重新登陆");
                          return false;
                      }
                      if(response.data['successCount']>0){
                        layer.msg('下载成功');
                      }else{
                        layer.msg('下载失败，稍后重试');
                      }

                  })
                  .catch(function (error) { // 请求失败处理
                    console.log(error);
                  });
                //layer.msg('演示完毕！您的口令：'+ pass +'<br>您最后写下了：'+text);
              });
          },

          getAllVideos:function () {
            this.action='video';
            this.pageNo=1;
            that.currentPage=1;
            that.totalPage=1;
            that.totalNum=0;
            this.getFiles();
          },
          getAllFiles:function () {
            this.action='file';
             this.pageNo=1;
             that.currentPage=1;
            that.totalPage=1;
            that.totalNum=0;
            this.getFiles();
          },
          async play(vfile) {
              layer.load(1);
              var that=this;
              var data = that.currentUser;
              data['identity']=vfile['identity'];
              var url ="/getDownload";
var a=window.open('about:blank').document;
               await axios.post(url,data)
                  .then(function (response) {
                      var videoUrl = response.data['downloadAddress'];
                      layer.closeAll('loading');
                       if(response.data=='error'){
                          layer.msg("请求出错，稍后重试或重新登陆");
                          return false;
                      }
                      a.body.innerHTML='<div style="width: 100%;text-align: center;"><video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" style="width:90%;margin: 0 auto;" <source src="'+response.data['downloadAddress']+'" type="video/mp4"> </video></br><textarea style="width: 100%">'+response.data['downloadAddress']+'</textarea></div>';
                         layer.confirm('复制播放地址？', {
                              btn: ['是','否'] //按钮
                            }, function(){
                                    that.playUrl = videoUrl;
                                    that.doCopy();
                            });
                  })
                  .catch(function (error) { // 请求失败处理
                    console.log(error);
                  });

          },
           doCopy: function () {
            this.$copyText(this.playUrl).then(function (e) {
              layer.msg("复制成功");
              //console.log(e)
            }, function (e) {
               layer.msg("复制失败，请手动复制");
              //console.log(e)
            })
      },
          getFilesPath:function (path) {

              layer.load(1);
              var that = this;
              that.files=[];
              that.path = path;
              //that.createPath(path);
              that.pageNo=1;
              that.currentPage=1;
             that.totalPage=1;
             that.totalNum=0;
              var data = that.currentUser;
              data['pageno']=that.pageNo;        
              data['path']=that.path;
              data['keyword']=that.keyword;
              var url = '';
              if(that.action=='video'){
                   url='/getVideos';
              }else if(that.action=='search'){
                  url = '/searchFiles';
              }else{
                  url = '/getFiles';
              }
            axios.post(url,data)
                  .then(function (response) {
                      layer.closeAll('loading');
                       if(response.data=='error'){
                          layer.msg("请求出错，稍后重试或重新登陆");
                          return false;
                      }
                      that.totalPage = Math.ceil(response.data['parent']['children']/20);　
                      that.totalNum = response.data['parent']['children'];
                      // response.data['dataList'].forEach(fsearch => {
                      //    that.files.push(fsearch);
                      //   })
                      that.files = response.data['dataList'];
                      //that.files=response.data;
                      //console.log(that.files)
                  })
                  .catch(function (error) { // 请求失败处理
                    console.log(error);
                  });
          },
          createPath:function (path) {
                //paths
                var that = this;
                that.paths=[];
                that.paths.push({'path':'/','label':'根目录'})
              	var spath=path.split('/');
                  var currentIndex=path.indexOf('/',0);
                  for(var i=0;i<(spath.length-2);i++) {
                      nextIndex = path.indexOf('/',currentIndex+1);
                      var pp = path.substring(0,nextIndex);
                      var pl = path.substring(currentIndex+1,nextIndex);
                      currentIndex = nextIndex;
                      var tempp={'path':pp,'label':pl};
                      that.paths.push(tempp)
                    }
                  var finallabel=path.substring(currentIndex+1,path.length)
                  that.paths.push({'path':path,'label':finallabel});
          }
      }
    })
</script>
</html>
