<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Player</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/element-ui.css') }}">
<style>
  .block{padding:10px;text-align:center;border-right:1px solid #eff2f6;display:inline-block;width:20%;box-sizing:border-box;overflow-x: hidden;vertical-align: middle;}
  .el-button{margin-top: 5px;}
</style>
</head>
<body style="margin: 0px;">
    <div id="app">

      <el-container v-loading="loading" >
        <el-aside width="20%">  
            <el-menu  :default-active="currentSite.key"  class="el-menu-vertical-demo" @open="handleOpen"    @close="handleClose"  background-color="#545c64" text-color="#fff"     active-text-color="#ffd04b">
             
             
          
              
              <el-menu-item v-for="site in sites" :index="site.key" @click="changeSite(site)">
                <i class="el-icon-menu"></i>
                <span slot="title">${site.name}</span>
              </el-menu-item>

              <el-menu-item index="source">
                <el-input placeholder="源" v-model="source">
                  <el-button slot="append" icon="el-icon-submit" @click="updateSource">更新</el-button>
                </el-input>
              </el-menu-item>

            </el-menu>
        </el-aside>
        <el-container>
          <el-header style="height: auto;">
            <h1>${currentSite.name}</h1>
              <el-row>
              <el-button v-for="category in currentSiteCategory" type="category['@id']==currentCategory['@id']?success" @click="getVideos(category)">${category['#text']|categoryName}</el-button>
              </el-row>
          </el-header>
          <el-main id="videosContainer">
              <div class="block" v-for="video in videos">
                  <el-popover  placement="bottom"  :width="poverwidth" trigger="click" >
                      <div v-if="Array.isArray(video.dl.dd)">
                        <el-tabs type="border-card">
                          <el-tab-pane v-for="tab in video.dl.dd" :label="tab['@flag']" style="overflow:scroll;max-height: 600px;">
                            <el-button v-for="text in tab['#text'].split('#')" @click="play(text)">
                              ${text|playName}
                            </el-button>
                          </el-tab-pane>
                        </el-tabs>
                      </div>
                      <div v-else>
                        <el-tabs type="border-card">
                          <el-tab-pane :label="video.dl.dd['@flag']" style="overflow:scroll;max-height: 600px;">
                            <el-button v-for="text in video.dl.dd['#text'].split('#')" @click="play(text)">
                              ${text|playName}
                            </el-button>
                          </el-tab-pane>
                       </el-tabs>
                      </div>        
                    <div slot="reference">
                      <el-image style="width: 100%" lazy  :src="video.pic" :title="video.name" :alt="video.name" fit="fill"></el-image>
                      <span style="white-space: nowrap;display: inline;" :title="video.name">${ video.name }</span>
                    </div>
                </el-popover>
              </div>
              <el-pagination v-if="totalPage>1" :page-size='pagesize' background  layout="prev, pager, next" :current-page="currentPage"  :total="total" @current-change="handleCurrentChange" > </el-pagination>
         
          </el-main>
        </el-container>
      </el-container>
 
    </div>
</body>


<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='layer/layer.js')}}"></script>
<script src="{{ url_for('static', filename='js/vue.js')}}"></script>
<script src="{{ url_for('static', filename='js/element-ui.js')}}"></script>
<script src="{{ url_for('static', filename='js/axios.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/fast-xml-parser.js')}}"></script>
<script src="{{ url_for('static', filename='js/xgplayer.js')}}"></script>
<script src="{{ url_for('static', filename='js/xgplayer-hls.js')}}"></script>


<script>



var app = new Vue({
  delimiters: ['${', '}'],
  el: '#app',
  data: {
    source:'https://pastebin.com/raw/YT2eKUFP',
    isCollapse: true,
    sites:[],
    currentSite:{},
    currentSiteCategory:[],
    currentCategory:{},
    loading:false,
    currentPage:1,
    videos:[],
    poverwidth:200,
    totalPage:1,
    pagesize:20,
    total:0
  },
  computed: {
    showCategory: function () {
      return this.currentSiteCategory.filter(function (cat) {
        return (cat['#text'].indexOf("伦理")==-1)&&(cat['#text'].indexOf("福利")==-1);
      })
    }
  },
  mounted: function () {
        this.$nextTick(function () {
            // Code that will run only after the
            // entire view has been rendered
            this.initSites()
        })
    },
  filters: {
    playName: function (value) {
      return value.split('$')[0];
    },
    categoryName:function(value){
        if(value.indexOf('{if')){
          var re = /\{if(.*)\}/gi;
          value = value.replace(re, '');
        }
        return value;
    } 
  },  
  methods: {
      handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      },
      handleCurrentChange(val) {
        this.currentPage = val;
        this.getVideos(this.currentCategory);
      },
      async initSites(){
            var that = this;
            var url = "{{ url_for('static', filename='js/initData.js')}}";
            const { data } = await axios.get(url);
            that.sites = data;
            that.currentSite = that.sites[0];
            that.getCategoryData(that.currentSite.api);
            that.poverwidth = $('#videosContainer').width();
      },
      changeSite(site){
        var that=this;
        that.currentSite = site;
        that.currentPage = 1;
        that.totalPage=1;
        that.currentSiteCategory = [];
        that.videos = [];
        that.currentCategory={};
        that.getCategoryData(site.api);
      },
      getCategoryData(url){
        var that=this;
        layer.load(1);
        var data = {"apiurl":url+'?1=1'};
        axios.post('/getplayer',data)
              .then(function (response) {
                layer.closeAll('loading');
                  //console.log(response);
                  if(response.data=='error'){
                      layer.msg("请求出错，稍后重试");
                      return false;
                  }
                  //console.log(response.data)
                  that.currentSiteCategory = response.data.rss.class.ty;
                  that.total = parseInt(response.data.rss.list['@recordcount']);
                  that.totalPage = parseInt(response.data.rss.list['@pagecount']);
                  that.pagesize = parseInt(response.data.rss.list['@pagesize']);
                  that.currentPage = parseInt(response.data.rss.list['@page']);
                  that.videos = response.data.rss.list.video;
                  if(that.videos.length==0){
                    layer.msg("请求出错，该分类下可能没有数据");
                      return false;
                  }

              })
              .catch(function (error) { // 请求失败处理
                console.log(error);
              });
      },
      updateSource(){
        var that = this;
        layer.confirm('源是本程序的核心文件，如更新错误会造成无法使用，确定更新？', {
            btn: ['更新吧','算了'] //按钮
          }, function(){
            var data = {'url':that.source};
            axios.post('/updateSource',data)
              .then(function (response) {
                that.loading = false;
                  if(response.data=='error'){
                      layer.msg("请求出错，该分类下可能没有数据");
                      return false;
                  }

                  if(response.data=='ok'){
                      layer.msg("更新完成，请刷新页面如无变化，需清除浏览器缓存");
                      return false;
                  }
                  
                  //console.log(response.data)
              })
              .catch(function (error) { // 请求失败处理
                console.log(error);
              });
          }, function(){
           
          });
      },
      play(videoUrl){
        var type="";
        var playurl="";
        if(videoUrl.indexOf('$')==-1){
          var index1=videoUrl.lastIndexOf(".");
          var index2=videoUrl.length;
          type=videoUrl.substring(index1,index2);
          playurl=videoUrl;
        }else{
          var videoinfo = videoUrl.split('$');
          var index1=videoinfo[1].lastIndexOf(".");
          var index2=videoinfo[1].length;
          type=videoinfo[1].substring(index1,index2);
          playurl=videoinfo[1];
        }

        if(type.toLowerCase()!='.m3u8'){
          window.open(playurl,"_blank");
        }else{
          var player = null;
          layer.open({
            type: 1,
            closeBtn: 1,
            offset: 'lt',
            shadeClose: true,
            shade: false,
            content: '<div id="mse"></div>',
            success:function(){
                player = new HlsJsPlayer({
                    "id": "mse",
                    "url": playurl,
                    "playsinline": true,
                    "autoplay":true,
                    "whitelist": [
                        ""
                    ],
                    "autoplay": true,
                      });
            },
            end: function(){
                player.destroy();
            }
         });
        }
      },
      getVideos(category){
        var that=this;
        that.videos=[];
        that.loading = true;
        that.currentCategory = category;
        data = {}
        if(JSON.stringify(category) == "{}"){
          var data = {"apiurl":that.currentSite.api+'?1=1&pg=' + that.currentPage};
        }else{
          var data = {"apiurl":that.currentSite.api+'?ac=videolist&t=' + category['@id'] + '&pg=' + that.currentPage};
        }
        axios.post('/getplayer',data)
              .then(function (response) {
                that.loading = false;
                  if(response.data=='error'){
                      layer.msg("请求出错，该分类下可能没有数据");
                      return false;
                  }
                  //console.log(response.data)
                  that.total = parseInt(response.data.rss.list['@recordcount']);
                  that.totalPage = parseInt(response.data.rss.list['@pagecount']);
                  that.pagesize = parseInt(response.data.rss.list['@pagesize']);
                  that.currentPage = parseInt(response.data.rss.list['@page']);
                  that.videos = response.data.rss.list.video;
                  if(that.videos.length==0){
                    layer.msg("请求出错，该分类下可能没有数据");
                      return false;
                  }
                  //console.log(response.data)
              })
              .catch(function (error) { // 请求失败处理
                console.log(error);
              });
      }
    }
})
  </script>
</html>
